/* 
    Document   : style
    Created on : Jan 5, 2014, 8:07:22 PM
    Author     : irene
    Description:
        Purpose of the stylesheet follows.
*/
@import url('flat-ui-custom.css');
@font-face {
    font-family: 'lobster_1.3regular';
    src: url('../fonts/lobster/lobster_1.3-webfont.eot');
    src: url('../fonts/lobster/lobster_1.3-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lobster/lobster_1.3-webfont.woff') format('woff'),
         url('../fonts/lobster/lobster_1.3-webfont.ttf') format('truetype'),
         url('../fonts/lobster/lobster_1.3-webfont.svg#lobster_1.3regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fertigo_proregular';
    src: url('../fonts/fertigo/fertigo_pro_regular-webfont.eot');
    src: url('../fonts/fertigo/fertigo_pro_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fertigo/fertigo_pro_regular-webfont.woff') format('woff'),
         url('../fonts/fertigo/fertigo_pro_regular-webfont.ttf') format('truetype'),
         url('../fonts/fertigo/fertigo_pro_regular-webfont.svg#fertigo_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

root { 
    display: block;
}

* {
    margin: 0;
    padding: 0;
}

input[type="text"], input[type="password"]  {
    min-height: 30px !important;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    /* font-family: 'fertigo_proregular'; */
}

/* header */
.head {
    /*background: #34302d !important;*/
    background: #f9f9f9 !important;
    /*border-bottom: 5px solid #ff4000 !important;*/
}

.head-main {
    /*background: #34302d !important;*/
    background: #f9f9f9 !important;
    border-top: 5px solid #ff4000 !important;
}

.head  .container{ margin-top: 35px; }

.header-txt{
    color: #34302d !important;
}

#header-wrap .navbar {
    margin-bottom: 0 !important;
}

.logo {
    color: #ff4000 !important;
    background: #fff !important;
}

.brand {
    font-size: 40px !important;
    font-family: "lobster_1.3regular" !important; 
}

.main {
  padding: 8px;
  float: none !important;
  position: relative;
  display: table !important;
  margin: 0 auto !important;
  text-align: center;

}


.font-up {
    font-size: 20px;
}

.font-up:hover { 
    color: #ff4000 !important;
    
}

.open>.dropdown-toggle {
    background-color: #fff !important; 
}

.btn-index {
    text-shadow: none !important;
    transition: all 0.3s ease 0s;
    border-radius: 0 0 0 0;
    background: #ff4000;
    border: medium none;
    margin-bottom: 10px;
    box-shadow: none;
    text-transform: uppercase;
    color: #fff!important;
    margin: 6px !important;
    font-weight: bold;
    padding: 17px 30px !important;
    line-height: 50px;
    margin: 0 20px !important;
}

.btn-approve, .btn-cancel, .btn-primary {
    padding: 5px 9px !important;
    border: 1px solid #ccc;
    border-radius: 0 !important;
    background: transparent !important;
    text-shadow: none !important;
    transition: all 0.3s ease 0s;
    border-color: rgba(0, 0, 0, 0.25);
}

.btn-approve, .btn-primary {
    background: #ff4000 !important;
    color: #fff !important;
}

.btn-index:hover, .btn-index:focus, .btn-index:active, .btn-approve:hover {
    background: #de3700!important;
    transition: all 0.3s ease 0s;
    text-shadow: none;
    color: #fff;
}

.navbar-fixed-top {
    margin: 0 !important;
}

.dropdown-menu {
    text-align: left;
}

/* features */

#feature-wrap .feature1 {
    background: url('../img/feature-1-2.png') no-repeat;
}

#feature-wrap .feature2 {
    background: url('../img/feature-2-2.png') no-repeat;
}

#feature-wrap .feature3 {
    background: url('../img/feature-3-2.png') no-repeat;
}

#feature-wrap .feature {
    background-size: 300px;
    opacity: 5px;
    min-height: 200px !important;
    color: #ffffff;
}

#feature-wrap .span4 {
    margin: 5px !important;
}

#feature-wrap .feature {
    margin: 5px !important;
    padding: 10px !important;
    text-align: center;
}

#feature-wrap .feature h2 {
    font-family: "lobster_1.3regular" !important;
    font-size: 45px;
    margin-bottom: 40px;
    color: #f1f1f1 !important;
}

#feature-wrap .feature p {
    background: rgba(0,0,0,0.5);
    font-size: 15px;
    padding: 20px;
}

.feature-img {
    text-align: center;
    padding: 20px;
}


#slide {
    margin-bottom: 20px !important;
}


.feature-action {
    text-align: center;
}

.feature-txt {
    margin: 15px;
}

.feature-txt h3 {
    color: #ff4000;
}

.feature-caption {
    padding: 5px;
}

.feature-img {
}

.features-ul {
    list-style-type: none;
    padding: 0px !important;
    margin: 0 !important;
}



/* effect */
.effect2
{
  position: relative;
}
.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 70%;
  top: 80%;
  max-width:300px;
  background: transparent;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.effect2:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

/* footer */
footer {
    border-top: 5px solid #ff4000;
}

.footer-article {
    padding: 10px;
    text-align: center;
    font-size: 15px;
}

.footer-article span {
    padding: 3px;
}

.footer-top .container {
    border-top: 1px solid #34302d;
}

.footer-top {
    line-height: 45px;
    margin-top: 20px;
}

#footer-index {
    background: #34302d;
    text-align: center;
    color: #ffffff;
    padding: 10px;
    margin: auto !important;
}

/* accounts */
#display_account h5 {
    padding: 0 20px !important;
}

.add_account {
    text-shadow: none !important;
    transition: all 0.3s ease 0s;
    border-radius: 0 0 0 0 !important;
    background: #ff4000;
    border: medium none !important;
    box-shadow: none;
    
}

.account {
    margin-top: 10px !important;
}

.add_account span{
    color: #fff !important;
}

/* search */
.search {
  background: #ffffff;
  border-radius: 2px;
  padding: 0 !important;
  border: 1px solid #999;
}

.search select, .search input, .search a{
  margin: 0 !important;
  padding-left: 0 !important;
  border: none !important;
  border-radius: 0 !important;
  float: left;
}

.search select {
  width: 90px;
}

.search input {
  padding-left: 10px !important;
  min-height: 30px;
}




.search a:hover {
  text-decoration: none;
}

.search select option{
  text-transform: uppercase;
}

/* search-option */
.search-option {
  background: #444 !important;
  color: #ffffff !important;
  border: none !important;
  border-radius: 0 !important;
  padding: 0 !important;
}

.search-option a {
  text-align:  center;
  text-decoration: none;
}

.search-option a:hover {
  color: #ffffff !important;
}

.not-anchor {
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  float: none;
  padding: 10px 15px 10px;
  color: #ffffff;
}

.account-txt:hover {
  background: inherit !important;
  text-shadow: none;
  color: inherit !important;
  cursor: default;

}

.dropdown-menu {
    background: #f1f1f1;
    border-radius: 0;
    border: none;
}

.dropdown-menu a {
    color: #fff ; 
}

.dropdown-menu a:hover {
    background: #ff4000;
}

/* search account*/
.search-account, .history {
    float: right !important;
  }

/* learning-objects */
#learning-objects {
  /*margin-top: 25px;*/
}

.icon-file {
  color: forestgreen;
}

/* lori */
.lori {
  width: 30px;
}

.icon-thumbs-up {
  color: #ff4000;
}

table .icon-download-alt {
  background: rgba(0,0,0,0.8);
  color: #ffffff;
  border-radius: 3px;
  padding: 5px !important;
}

/* table */
.table a {
  color: #333 !important;
  font-size: 15px;
}

.table a:hover {
  color: #666 !important;
}

.table-header {
  color: #fff !important;
  background: #ff4000;
}

.few-details {
  font-size: 13px;
  color: #999;
}

.few-details a{
  font-size: 13px;
  color: #999 !important;
}

/* metering-view */
.line {  }

#user-charges h5 { 
  color: #ff4000;
  margin: 10px !important;
  text-transform: uppercase;
}

.dataTable th { 
  color: #333 !important;
  
}

.dataTable th, .dataTable td {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

/*============================================================
  Flat UI
============================================================*/

.fui-radio-unchecked,
.fui-radio-checked,
.fui-checkbox-unchecked,
.fui-checkbox-checked {
  display: inline-block;
  font-family: 'Flat-UI-Icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

.fui-radio-unchecked:before {
  content: "\e02b";
}
.fui-radio-checked:before {
  content: "\e032";
}

.fui-checkbox-unchecked:before {
  content: "\e033";
}
.fui-checkbox-checked:before {
  content: "\e034";
}

label, select, button, input[type="button"], 
input[type="reset"], input[type="submit"], 
input[type="radio"], input[type="checkbox"] {
    cursor: pointer;
}

.checkbox.checked .icons {
    color: #ff4000;
}

.radio.checked .icons {
    color: #ff4000;
}

label.radio {
  font: 14px/20px 'open_sansregular', Arial, Helvetica, sans-serif;
    margin: 0 0 12px 0;
    color: #333333;
}

.checkbox.disabled, .radio.disabled {
    cursor: default;
    color: #ccc;
}

.fui-radio-unchecked, .fui-radio-checked {
  margin-top: 2px;
}

.span4 .offset1 .log-in-wrap label.radio {
  color: #979696;
}

/* Advanced Search */
.foracc {
    padding: 10px 15px !important;
    color: #999 !important;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}

.navbar-search {
    margin-top: 0 !important;
}

.navbar-search select {
    min-height: 38px !important;
    margin-left: 8px !important;
}

.search-accordion {
    margin-bottom: 0 !important;
}

.search-accordion .accordion-group {
    border: none !important;
}

.search-accordion .accordion {
    margin-bottom: -3px !important;
}

.advanced-search {
    
}

.advanced-search, .label-search {
  margin-top: 10px;
  padding: 8px !important;
}

.advanced-search input {
    min-height: 20px !important;
}

.advanced-search .well {
  margin: 5px !important;
  min-height: 170px !important;
}

.form-actions {
  background: transparent !important;
  text-align: center;
}

/* actions classes */
.selectedTab {
  display: block !important;
}

.no-display {
  display: none;
}

/* modal back-drop */
.modal {
  border-radius: 0 !important;
  background: rgba(230,230,230,0.5) !important;
  border: none !important;

}

.modal-backdrop {
  background: rgba(255,255,255,0.2) !important;
}

.modal-center {
  margin: 10px !important;
  border-radius: 0 !important;
  background: #fff;
  border: 1px solid #ddd;
}

.modal-header {
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  border-bottom: 1px solid #ff4000;
}

.modal.fade.in {
    top: 10% !important;
}

/* settings */
.account-setting {
  margin: 20px;
  padding: 20px;
  background: #f1f1f1;
}

.account-setting .btn-index {
    margin: 5px !important;
    padding: 0 20px !important;
}



.edit {
  position: relative;
  float: right; 
  top: -25px;
  right: -25px;
}

.txt-disabled input[type="text"]{
  border: none !important;
  box-shadow: none !important;
  background: transparent;
  margin-left: 25px;
  font-weight: bold;
}

.txt-disabled .setting-action {
  display: none !important;
}

/* download */
.download-details { margin-top: 5px; }

#download {}

.control-label { cursor: default; }
.control-group { margin-bottom: 10px !important; }

/* login/signup */
#authenticate { margin-top: 50px; padding: 10px; }
#authenticate .brand:hover { text-decoration: none !important; }
#authenticate input {
  border-radius: 0;
  margin: 5px;
  width: 90%;
  box-shadow: none;
  min-height: 40px !important;
  padding-left: 10px;
}

#slider_now img {
    margin: 40px 0 !important;
    margin-bottom: 50px !important;
}

.btn-download {
    border: none !important;
    background: transparent !important;
    line-height: 30px;
}

.btn-download i {
    border-radius: 5px !important;
}

.btn-history {
    line-height: 15px !important;
    padding: 15px !important;
}

/* one-setting */
.one-set a {  
  padding: 0 !important; 
  margin: 0 !important; 
}
.one-set { padding: 0 !important; }
.one-set h5 { line-height: 30px; }

.one-set1 { padding: 0 !important; }

.one-set1 .navbar-search {
  margin: 12px !important;
}

/* tabs */
#display_account { border: none !important; }
#display_account li a,  .one-set1 h5{ 
  line-height: 38px;
  border-radius: 0 !important;
}
#display_account .active>a, #display_account li a:hover {
  border: none !important;
  background: transparent !important;
  border-bottom: 5px solid #333 !important;
}



/**  email **/
.addborder {
    border: 1px solid red !important;
}

/* placed here cause it''s important*/
.search a {
  padding: 9px 10px !important;
  line-height: 20px;
  background: #ff4000;
  float: right;
  color: #ffffff;
}

section {
    margin-bottom: 50px !important;
}

.dataTables_filter input[type=text]{
    min-height: 10px !important;
}

.css-history {
    border: 3px solid transparent;
    margin: 25px;
}

.ul-search {
    float: right !important;
}

.ul-search li a.active {
    color: #fff !important;
    font-size: 15px;
}

/* metering admin page */
.admin-meter {
    margin-top: 5px !important;
}

#addAccount input, #amount-summary input {
    min-height: 20px !important;
}

#amount-summary input {
    margin-bottom: 0 !important;
}

/* graph */
.graph {
    text-align: center;
}

.graph img, #comments img {
    max-width: 80px;
    margin-bottom: 15px;
}

.graph canvas {
    margin-bottom: 100px !important;
}

.graph h4, #comments h4 {
    font-family: "fertigo_proregular" !important; 
}

/* comments */
#comments .span6 {
    margin: 5px !important;
    margin-left: 5px !important;
    
}

.div-comment {
    border-left: 5px solid #ff4000;
    background: rgba(255,255,255,0.5);
    padding: 5px;
    margin: 3px !important;
}

.div-comment img {
    float: left;
}

#meter-settings .span3 {
    margin-left: 20px !important;
}

#meter-settings .span2 {
    margin-left: 0 !important;
}

#meter-settings .span6 {
    margin-left: 15px !important;
}

#meter-settings .lo-buttons {
    margin: 10px 0 !important;
}

#meter-settings {
    margin-bottom: 0 !important;
    padding: 10px !important;
    background: rgba(1,46,254,0.2);
    border-top: 5px solid rgba(1,46,254,0.3);
}

#meter-settings .txt-enable {
    disabled: false;
}


/* login sections */ 
#authenticate {
    min-height: 500px !important;
    
}

#authenticate p {
    font-size: 17px;
}

#content-wrap {
    background: #f2f2f2;
    margin-bottom: 0px !important;
    padding: 50px 0;
    border-left: 8px solid #bbb;
}

 #content-wrap p, #content-wrap h5 {
    line-height: 25px;
    margin-bottom: 15px;
    
}

#content-wrap h2 {
    line-height: 40px;
    margin-bottom: 15px;
    border-left: 5px solid #ff4000;
    padding-left: 5px;
    
}

#content-wrap span {
    font-family: 'lobster_1.3regular';
    color: #ff4000 !important;
}

#feature-wrap {
    background: #ccc;
    padding: 50px 0;
    border-left: 8px solid #333;
    margin-bottom: 18px !important;
}

#feature-wrap ul {
    margin: 5px !important;
}

.action {
    margin: 10px;
}

/* dataTables */
.dataTable tr, .dataTable .sorting_1{
   /* display: inline-block !important;   */
   background: transparent !important;
   padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid rgb(221, 221, 221);
}

.dataTable {
    background: #fff !important;
}

.dataTable th {
    color: #ff4000 !important;
}

.dataTables_wrapper {
    background: #ff4000 !important;
}

.dataTables_length, .dataTables_filter {
    padding: 5px 10px !important;
    margin: 0 !important;
    color: #fff !important;
}

.dataTables_length select, .dataTables_filter input[type="text"]{
    border: none !important;
    border-bottom: 1px solid #999 !important;
    border-radius: 0 !important;
    margin-bottom: 0 !important
}

.dataTables_length label, .dataTables_filter label{
    margin-bottom: 0 !important;
}